<!-- templates/register.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body bgcolor="#e6e6fa">
    <h1>Register here</h1>
    <form action="/" method="POST"> <!-- fixed action -->
        Enter Username: <input type="text" name="name" id="name" required><br><br>
        Enter Email: <input type="email" name="email" id="email" required><br><br>
        Enter Password: <input type="password" name="pass" id="pass" required><br><br>
        <input type="submit" value="Submit">
    </form>
   
</body>
</html>
