<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}EduNova{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <h1>🚀 EduNova</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/courses/">Courses</a>
            <a href="/quiz/">Quiz</a>
            <a href="/login/">Login</a>
            <a href="/logout/">Logout</a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    {% if messages %}
<div class="fixed top-5 right-5 z-50">
    {% for message in messages %}
      <div class="bg-green-100 text-green-800 px-4 py-2 rounded shadow mb-2">
        {{ message }}
      </div>
    {% endfor %}
  </div>
{% endif %}

</body>
</html>